In [ ]:
# 1.Write a code to create a string with your name and print it.
name="Sk Aman";
print(name);

Sk Aman

In [ ]:
 # 2.Write a code to find the length of the string "Hello World".
 demo ="Hello world";
 print(len(demo));

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
demo_str="Python Programming";
print(demo_str[:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
demo_str_1="hello";
print(demo_str_1.upper())

HELLO

In [ ]:
# 5.rite a code to replace the word "apple" with "orange" in the string "I like apple.
demo_str_2="I like apple";
print(demo_str_2.replace("apple","orange"));

I like Orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
demo_list=[];
for i in range(1,6):
  demo_list.append(i);
print((demo_list))

[1, 2, 3, 4, 5]

In [ ]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].
demo_list_1=[1,2,3,4];
demo_list_1.append(10);
print(demo_list_1)

[1, 2, 3, 4, 10]

In [ ]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
demo_list_2=[1,2,3,4,5];
demo_list_2.remove(3);
print(demo_list_2)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
demo_list_3=['a', 'b', 'c', 'd'];
print(demo_list_3[1])

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
demo_list_4=[10, 20, 30, 40, 50];
demo_list_4.reverse()
print(demo_list_4)

[50, 40, 30, 20, 10]

In [ ]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
demo_tuple_1=(100,200,300);
print(demo_list_5)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
demo_tuple_2=('red', 'green', 'blue', 'yellow');
print(demo_list_6[1:4])

('green', 'blue', 'yellow')

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
demo_tuple_3=(10, 20, 5, 15);
print(min(demo_list_6))

5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
demo_tuple_4=('dog', 'cat', 'rabbit');
print(demo_tuple_4.index("cat"))

1

In [ ]:
 # 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
 demo_tuple_5=("Mango","Banana","kiwi");
 print("kiwi" in demo_tuple_5);

True

In [1]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
demo_set={"a","b","c"};
print(demo_set);

{'c', 'a', 'b'}

In [3]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
demo_set_1={1, 2, 3, 4, 5};
demo_set_1.clear();
print(demo_set_1)

{1, 2, 3, 4, 5}
set()

In [12]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
demo_set_2={1, 2, 3, 4};
demo_set_2.remove(4);
print(demo_set_2)

{1, 2, 3}

In [14]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
demo_set_3={1, 2, 3};
demo_set_4={3, 4, 5};
print(demo_set_3 | demo_set_4);

{1, 2, 3, 4, 5}

In [15]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
demo_set_5={1, 2, 3};
demo_set_6={2, 3, 4};
print(demo_set_5 & demo_set_6)

{2, 3}

In [17]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
demo_dic_1={
    "name":"Sk Aman",
    "age":23,
    "city":"kolkata"
}
print(demo_dic_1)

{'name': 'Sk Aman', 'age': 23, 'city': 'kolkata'}

In [18]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
demo_dic_1["Country"]="USA";
print(demo_dic_1)

{'name': 'Sk Aman', 'age': 23, 'city': 'kolkata', 'Country': 'USA'}

In [19]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
demo_dic_2={
    "name":"Alice",
    "Age":30
}
print(demo_dic_2["name"])

Alice

In [21]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
demo_dic_3={
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}
demo_dic_3.pop("name");
print(demo_dic_3)

{'age': 22, 'city': 'New York'}

In [22]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
demo_dic_4={
    'name': 'Alice',
    'city': 'Paris'
}
print("city" in demo_dic_4);

True

In [24]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
demo_list_5=[1,"Aman",True,None];
demo_tuple_6=(1,"Aman",True,None);
demo_dic_5={
    "name":"Aman",
    "Add":"Patpur,Bankura",
    "phone":8116484595,
    "Cx":3+4j
}
print(demo_list_5);
print(demo_tuple_6);
print(demo_dic_5);

[1, 'Aman', True, None]
(1, 'Aman', True, None)
{'name': 'Aman', 'Add': 'Patpur,Bankura', 'phone': 8116484595, 'Cx': (3+4j)}
<class 'complex'>

In [37]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)
import random
demo_list_99=[];
for i in range(5):
  demo_list_99.append(random.randint(1,100))
print(demo_list_99)

[87, 8, 72, 50, 61]

In [25]:
# 28.Write a code to create a list with strings and print the element at the third index.
demo_list_7=["aman","rahul","anupam","mango","yahoo"];
print(demo_list_7[3])

mango

In [29]:
# 29.Write a code to combine two dictionaries into one and print the result.
demo_dic_1.update(demo_dic_2);
print(demo_dic_1)

{'name': 'Alice', 'age': 23, 'city': 'kolkata', 'Country': 'USA', 'Age': 30}

In [31]:
# 30.Write a code to convert a list of strings into a set.
demo_list_7=["aman","rahul","anupam","mango","yahoo"];
new_set=set(demo_list_7);
print(new_set)

{'mango', 'aman', 'anupam', 'rahul', 'yahoo'}

1.What are data structures, and why are they important?
--> Data structures are ways to store and organize data in a computer so we can use it easily and efficiently.

2. Explain the difference between mutable and immutable data types with examples.
-->In Python, data types are classified as mutable or immutable based on whether their values can be changed after they are created. Mutable data types can be modified — we can add, remove, or change elements without creating a new object. Examples of mutable types include lists, dictionaries, and sets. For instance, in a list like [1, 2, 3], we can change the first element to 10 by writing my_list[0] = 10. On the other hand, immutable data types cannot be changed once they are created. Any operation that tries to modify them results in the creation of a new object. Examples of immutable types are strings, tuples, and integers. For example, if we have a string name = "Hello", we cannot change just one character like name[0] = "J"—this will cause an error. This distinction is important because it affects how data behaves in memory and in functions.

3.What are the main differences between lists and tuples in Python?
-->In Python, lists and tuples are both used to store collections of items, but they have some important differences. The main difference is that lists are mutable, which means their elements can be changed, added, or removed after the list is created. In contrast, tuples are immutable, so once a tuple is created, its elements cannot be changed. Lists are defined using square brackets like [1, 2, 3], while tuples are defined using parentheses like (1, 2, 3). Because tuples are immutable, they are generally faster and can be used as keys in dictionaries, unlike lists. Lists are more flexible and are commonly used when the data may need to change during program execution.

4. Describe how dictionaries store data.
-->In Python, a dictionary stores data in the form of key-value pairs. Each item in a dictionary has a key and a value, where the key acts like a label or name, and the value is the actual data. For example, in {"name": "Alice", "age": 25}, "name" and "age" are keys, and "Alice" and 25 are their corresponding values. Dictionaries use a special structure called a hash table to store data, which allows them to quickly find values using their keys. Keys in a dictionary must be unique and immutable (like strings, numbers, or tuples), while values can be of any data type. This makes dictionaries very useful for storing and looking up data efficiently.

5.Why might you use a set instead of a list in Python.
-->  a set instead of a list in Python when one want to store only unique items and don’t care about the order of elements. Sets automatically remove duplicates, so if one add the same value more than once, it will only appear once in the set. This makes sets very useful for tasks like finding unique values from a list or checking if an item exists in a collection, as membership tests (in) are generally faster in sets than in lists. However, sets do not keep the order of elements, and you cannot access items by index like you can with lists. So, use a set when uniqueness and fast lookup are more important than maintaining order.

6.What is a string in Python, and how is it different from a list?
-->A string in Python is a sequence of characters enclosed in quotes, like "hello". It is immutable, meaning you can't change individual characters once it's created. A list, on the other hand, is a sequence of elements (which can be of any data type) and is mutable, so you can change, add, or remove elements in it.

7.How do tuples ensure data integrity in Python?
-->Tuples are immutable, meaning once created, their content cannot be changed. This protects the data from accidental modifications, ensuring its integrity, especially when passed between functions or used as dictionary keys.

8.What is a hash table, and how does it relate to dictionaries in Python?
-->A hash table is a data structure that maps keys to values using a hashing function to assign a unique address (index) for each key. Python dictionaries use hash tables internally, allowing for fast access to values using keys.

9. Can lists contain different data types in Python?
-->Yes, lists in Python can hold elements of different data types. For example, [1, "hello", 3.5, True] is a valid list containing an integer, string, float, and boolean.

10.Explain why strings are immutable in Python.
-->Strings are immutable in Python to ensure data consistency and memory efficiency. Immutability allows Python to optimize storage by reusing strings and also avoids bugs caused by unintended changes to shared string values.

11.What advantages do dictionaries offer over lists for certain tasks?
-->Dictionaries provide faster access to data when you use a key, making them ideal for tasks like lookups or mapping relationships (e.g., storing student names with their marks). In contrast, lists require searching through each element to find a match.

12.Describe a scenario where using a tuple would be preferable over a list.
-->A tuple is better when you want to store fixed data that shouldn't change — like coordinates of a location (x, y) or dates (day, month, year). Their immutability ensures the data stays safe from modification.

13.How do sets handle duplicate values in Python?
-->Sets automatically remove duplicates. When you add duplicate values to a set, it keeps only one copy. This makes sets ideal for getting unique items from a list.

14.How does the “in” keyword work differently for lists and dictionaries?
-->For lists, "in" checks whether a value exists in the list. For dictionaries, "in" checks whether a key exists (not a value). Example: 'a' in {'a': 1} returns True, but '1' in {'a': 1} returns False.

15.Can you modify the elements of a tuple? Explain why or why not?
-->No, I cannot modify the elements of a tuple because tuples are immutable. This means their contents are fixed once created, helping maintain data reliability.

16.What is a nested dictionary, and give an example of its use case?
-->A nested dictionary is a dictionary where values are also dictionaries. It’s useful for storing structured data, like student records:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 21, "grade": "B"}
}

17.Describe the time complexity of accessing elements in a dictionary.
-->Accessing an element in a dictionary using a key is typically O(1), which means it's very fast and doesn’t depend on the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
-->Lists are preferred when you need to store an ordered collection of items and don’t need key-based access — like maintaining a sequence, iterating in order, or handling simple datasets.

19.Why are dictionaries considered unordered, and how does that affect data retrieva?
-->In older versions of Python (<3.7), dictionaries were unordered, meaning the order of key-value pairs wasn't guaranteed. From Python 3.7+, dictionaries preserve insertion order, but they are still accessed by key, not by position like lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-->A list retrieves data by position (index), like my_list[2], while a dictionary retrieves data by key, like my_dict["name"]. This makes dictionaries better for lookups and structured data, and lists better for ordered collections.